<?xml version="1.0" encoding="utf-8"?>

<!-- Para obtener más información sobre cómo usar la transformación de web.config, visite https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- Cadena de conexión para producción (SmarterASP / site4now) -->
  <connectionStrings>
    <add name="Contexto"
         connectionString="Data Source=SQL5106.site4now.net;Initial Catalog=db_ac52da_pradoinn;User Id=db_ac52da_pradoinn_admin;Password=Prado2026!;Encrypt=True;TrustServerCertificate=True;Connection Timeout=15;MultipleActiveResultSets=True;Pooling=true;Min Pool Size=0;Max Pool Size=50"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <!-- machineKey fijo: necesario en hosting para que la cookie de Identity y antiforgery funcionen (GetUserId, sesión, navbar). Algoritmos SHA1/3DES = máxima compatibilidad. -->
    <!-- Claves HEX solo 0-9 y A-F mayúsculas (40 y 48 caracteres). -->
    <machineKey validationKey="0123456789ABCDEF0123456789ABCDEF01234567" decryptionKey="0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF" validation="SHA1" decryption="3DES" xdt:Transform="Insert" />
    <!-- IMPORTANTE: Cambiar debug a false en producción -->
    <compilation debug="false" xdt:Transform="SetAttributes(debug)" />
    
    <!-- TEMPORAL: mode="Off" para ver el error real (pantalla amarilla) en hosting y poder arreglar ReservasA/Create y ConfigurarGaleriaCarousel. Cuando esté resuelto, volver a mode="RemoteOnly" o "On". -->
    <customErrors mode="Off" defaultRedirect="~/Error" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/Error" />
      <error statusCode="500" redirect="~/Error" />
    </customErrors>
  </system.web>
  
  <system.webServer>
    <!-- DESACTIVADO: Application Initialization puede hacer que "/" falle al arrancar y deje la app en 500 genérico -->
    <!--
    <applicationInitialization 
      doAppInitAfterRestart="true" 
      skipManagedModules="true"
      xdt:Transform="Insert">
      <add initializationPage="/" />
    </applicationInitialization>
    -->
    
    <!-- Errores HTTP: NO redirigir a /Error para evitar bucles. Usar customErrors en su lugar -->
    <!-- Comentado para evitar bucles de redirección en hosting -->
    <!--
    <httpErrors errorMode="Custom" existingResponse="Replace" xdt:Transform="Insert">
      <remove statusCode="404" />
      <error statusCode="404" path="/Error" responseMode="Redirect" />
      <remove statusCode="500" />
      <error statusCode="500" path="/Error" responseMode="Redirect" />
    </httpErrors>
    -->
  </system.webServer>
</configuration>
